[submodule "gridtokenx-anchor"]
	path = gridtokenx-anchor
	url = https://github.com/NakaSato/gridtokenx-anchor.git
[submodule "gridtokenx-smartmeter-simulator"]
	path = gridtokenx-smartmeter-simulator
	url = https://github.com/NakaSato/gridtokenx-smartmeter-simulator.git
[submodule "gridtokenx-trading"]
	path = gridtokenx-trading
	url = https://github.com/NakaSato/gridtokenx-trading.git
[submodule "gridtokenx-explorer"]
	path = gridtokenx-explorer
	url = https://github.com/NakaSato/gridtokenx-explorer.git
[submodule "gridtokenx-iam-service"]
	path = gridtokenx-iam-service
	url = https://github.com/NakaSato/gridtokenx-iam-service.git
[submodule "gridtokenx-aggregator-bridge"]
	path = gridtokenx-aggregator-bridge
	url = https://github.com/NakaSato/gridtokenx-aggregator-bridge.git
[submodule "gridtokenx-trading-service"]
	path = gridtokenx-trading-service
	url = https://github.com/NakaSato/gridtokenx-trading-service.git
[submodule "gridtokenx-noti-service"]
	path = gridtokenx-noti-service
	url = https://github.com/NakaSato/gridtokenx-noti-service.git
[submodule "gridtokenx-blockchain-core"]
	path = gridtokenx-blockchain-core
	url = https://github.com/NakaSato/gridtokenx-blockchain-core.git
[submodule "gridtokenx-chain-bridge"]
	path = gridtokenx-chain-bridge
	url = https://github.com/NakaSato/gridtokenx-chain-bridge.git
[submodule "gridtokenx-meter-service"]
	path = gridtokenx-meter-service
	url = https://github.com/NakaSato/gridtokenx-meter-service.git
[submodule "gridtokenx-telemetry"]
	path = gridtokenx-telemetry
	url = https://github.com/NakaSato/gridtokenx-telemetry.git
